/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-image: url('../images/background-cubism.jpg');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: transparent;
  color: #fff;
}

.container-footer {
  padding: 20px 30px 16px 30px;
  background-color: rgba(51,51,51,0.9);
}

.logo-descr-container{
  /*display: inline;*/
}

.logo-descr-container > .media > .media-logo{
  margin-right: 25px;
}

.product-description {
  font-size: 23px;
  font-weight: bold;
  font-family: serif;

  border-left: 1px solid #434343;
  padding-left: 25px;
}

.product-description .description{
  margin: 0px;
}

.language-menu-container{
  text-align: center;
  margin-top:20px;
}

.language-menu-container .btn-group .btn-hidden{
  background-color: transparent;
  border: none;
  color: #fff;
}

.language-menu-container .btn-group .btn-hidden:focus{
  outline-color: #333333;
}



/* Navbar styles
-------------------------------------------------- */
.navbar {
  border: none;
  background-color: transparent;
  height: 80px;
}

.download-link-container {
  background-color: #ffb400;
  padding: 20px 25px;
  min-width: 280px;
}

.download-link:hover {
  text-decoration:none;
}

.download-text-container h4 {
  margin: 0px;
  color: #000;
  font-weight: bold;
}

.download-text-container p {
  margin: 0px;
  color: #000;
}

/* Page Content
-------------------------------------------------- */

.menu-container {
  margin-top: 10%;
  background-color: rgba(129,129,129,0.8);
}

.portal-container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  margin: 60px 0px;
}

.user-portal{
  background-color: #00b1a9 ;
}

.management-portal{
  background-color: #00b5ee ;
}

.report-portal{
  background-color: #65b72f ;
}

.portal-name{
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}

.portal-link:hover{
  color: #fff;
  text-decoration: none;
}

.portal-link-container{
  padding: 0px 40px;
}
